<%- layout("/layouts/boilerplate.ejs") -%>
<h1>All Listings</h1>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">
  <%for(let ele of data){%>
  <div class="col">
    <div class="card border border-info border-2 card-all-listings">
      <img src="<%= ele.image %>" class="card-img-top" alt="Hello" />
      <div class="card-body d-flex flex-column">
        <h5 class="card-title"><%= ele.title %></h5>
        <p class="card-text"><%= ele.description %></p>
        <a href="/listings/<%=ele._id%>" class="btn btn-primary btn-details"
          >See Details</a
        >
      </div>
    </div>
  </div>
  <%}%>
</div>
