<%- layout("/layouts/boilerplate.ejs") %>
<h3>Listing Detail</h3>
<ul>
    <li><%=data.title%></li>
    <li><%=data.description%></li>
    <li>&#8377; <%=data.price.toLocaleString("en-IN")%></li> 
    <li><%=data.location%></li>
    <li><%=data.country%></li>
</ul>
<form action="/listings/edit/<%=data._id%>" method="get">
    <button>Edit</button>
</form>
<form action="/listings/delete/<%=data._id%>?_method=DELETE" method="post">
    <button>Delete</button>
</form>
